<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="commons">

    <resultMap id="roleMap" type="roleEntity">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <resultMap id="moduleMap" type="moduleEntity">
        <id column="module_id" property="moduleId"/>
        <result column="module_name" property="moduleName"/>
    </resultMap>

    <resultMap id="roleModuleMap" type="RoleModuleEntity">
        <result column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
    </resultMap>

    <resultMap id="adminMap" type="adminEntity">
        <id column="admin_id" property="adminId"/>
        <result column="admin_code" property="adminCode"/>
        <result column="password" property="password"/>
        <result column="admin_name" property="adminName"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>
    </resultMap>

    <resultMap id="adminRoleMap" type="adminRoleEntity">
        <result column="admin_id" property="adminId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

</mapper>